<html>

<head>
    <meta charset="UTF-8" />
    <title>engine admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body style="margin: 0px;">
    <div class="jumbotron text-center">
        <h1>Edit Project</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="margin: auto">
                <div class="form-group">
                    <h3 for="">
                        <%= name %>
                    </h3>
                </div>

                <div class="form-group">
                    <label for="">Size: <%= width %> * <%= height %></label>
                </div>

                <a href="javascript:;" id="btn-create-scene">Create Scene</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin: auto">
                <h3>Scenes</h3>
                <table class="table table-bordered table-project-list">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let elem of scene) { %>
                            <tr>
                                <td>
                                    <%= JSON.parse(elem).id %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-edit"
                                        data-id='<%= JSON.parse(elem).id %>'>Edit</button>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#btn-create-scene').on('click', function () {
                window.location.href = `/admin/edit_scene?project_id=<%= _id %>&scene_id=`
            })

            $(document).on('click', '.btn-edit', function () {
                window.location.href = `/admin/edit_scene?project_id=<%= _id %>&scene_id=${$(this).data('id')}`
            })
        })
    </script>
</body>

</html>