<html>

<head>
    <meta charset="UTF-8" />
    <title>engine admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body style="margin: 0px;">
    <div class="jumbotron text-center">
        <h1>Building Game Engine</h1>
        <a href="/admin/create">Create New Project</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Projects</h3>
                <table class="table table-bordered table-project-list">
                    <thead>
                        <tr>
                            <th>project name</th>
                            <th>size</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "list",
                type: "POST",
                dataType: 'json',
                success: async function (res) {
                    if (res.success) {
                        for (let elem of res.projects) {
                            $('.table-project-list tbody').append(`<tr>
                                <td>${elem.name}</td>
                                <td>${elem.width} * ${elem.height}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-edit" data-id="${elem._id}">Edit</button>
                                </td>
                            </tr>`)
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error');
                }
            });

            $(document).on('click', '.btn-edit', function () {
                window.location.href = `/admin/edit?id=${$(this).data('id')}`
            });
        })
    </script>
</body>

</html>